/* style the buttons that are used to open and close the accordion panel */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: all 0.4s;
}

/* add background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  height: 0;
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  transition: height 0.2s ease-out;
}
